extends layout

block content
  .container
    .row
      .col-sm-8
        h2 A plethora of tools to make life easier
        p We are a small team of freelancers building tools as we need them or think of cool ideas
      .col-sm-2
        p We are working on things
